---
import Logo from "../../assets/logos/logo.svg";

type LogoVariant = "light" | "dark";

interface Props {
  variant: LogoVariant;
  class?: string;
}

const { variant = "dark", class: className = "" } = Astro.props as Props;

const VARIANT_STYLES = {
  light: `
    --logo-text-color: var(--color-light-100);
    --logo-mark-color: var(--color-light-100);
  `,
  dark: `
    --logo-text-color: var(--color-light-100);
    --logo-mark-color: var(--color-pulse);
  `,
} as const;
---

<a href="/" style={VARIANT_STYLES[variant]} class={className}>
  <Logo />
</a>
