---
import Telegram from "../../assets/icons/burger.svg";
import VK from "../../assets/icons/vk.svg";
---

<ul class="flex flex-row gap-0">
  <li class="p-1"><Telegram class="text-pulse" /></li>
  <li class="p-1"><VK class="text-pulse" /></li>
</ul>
